.message {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
  color: white;
}
.message:hover{
  background-color: #474849;
}
.message_profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.message_timestamp {
  margin-left: 20px;
  color: gray;
  font-size: x-small;
}

.message_info {
  margin-left: 20px;
}
